:root{
    --color_fondo:rgb(220,220,220);
    --color_borde:rgb(100,100,255);
    --color_verde:rgb(100,200,100);
    --color_rojo:rgb(200,100,100);
    --color_azul:rgb(100,100,200);
    --radio_borde:8px;
}

*{
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    background: var(--color_fondo);

}

.cont-gral{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    max-width: 95%;
}

.fila_principal{
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--color_borde);
    border-radius: var(--radio_borde);
    align-items: center;
    padding: 0.5rem;
}

.titulo{
    color:var(--color_borde);
    font-weight: bolder;
    font-size: 1.5rem;
}

.tabla{
    margin-top: 0.5rem;
    border: 2px solid var(--color_borde);
    border-radius: var(--radio_borde);
    padding: 0.5rem;
    max-height: 87vh;
}

.cabecera{
    border: 2px solid var(--color_borde);
    border-radius: var(--radio_borde);
    padding: 0.5rem;
    background-color: var(--color_borde);
}

span{
    color: rgb(250,250,250);
    font-weight: bolder;
}

.cuerpo{
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    overflow-y: scroll;
   
}

.fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    width: auto;

    &:hover{
        border: 1px solid var(--color_borde);
        border-radius: var(--radio_borde);
    }
}

.menu_fila{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.col1{
    flex-basis: 20%
}

.col2{
    flex-basis: 60%;
}

.col3{
    flex-basis: 10%;
}

.bt_verde{
    color:var(--color_verde);

    &:hover{
        color:rgb(0,255,0)
    }
}

.bt_rojo{
    color:var(--color_rojo);

    &:hover{
        color:rgb(255,0,0)
    }
}

.bt_azul{
    color:var(--color_azul);

    &:hover{
        color:rgb(0,0,255)
    }
}
a{text-decoration: none;}