
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">LISTADO DE CRIPTOMONEDAS</span>
                <button class="btn btn-success float-end" routerLink="crear">Nuevo</button>
                @if (listMonedas.length>0){
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Simbolo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Var (24H)</th>
                        <th scope="col">Var (7d)</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for (moneda of listMonedas; track $index) {
                      <tr>
                        
                        <th scope="row">{{moneda.nombre}}</th>
                        <td>{{moneda.simbolo}}</td>
                        <td>{{moneda.precio}}</td>
                        <td>{{moneda.var24}}</td>
                        <td>{{moneda.var7d}}</td>
                        <td>
                            <i [routerLink]="['/editar',moneda._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                            <i (click)='eliminarMoneda(moneda._id)' class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>}
                    </tbody>
                  </table>}
                  @else {
                    <h5>No hay elementos que mostrar</h5>
                  }
            </div>

        </div>
    </div>
</div>
</div>