
<div class="container mt-5">
    <div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body text-center">
                <span class="titulo">Listado</span>
                <button class="btn btn-success float-end" routerLink="crear">Nuevo</button>
                <table class="table table-striped mt-3">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Simbolo</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Var (24H)</th>
                        <th scope="col">Var (7d)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                        <td></td>
                        <td>
                            <i class="fa-solid fa-pen-to-square text-primary"></i>
                            <i class="fa-solid fa-trash text-danger"></i>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

        </div>
    </div>
</div>
</div>