<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
    <link rel="stylesheet" href="../../css/comun.css">
    <title>Tipos de Novedades</title>
</head>

<body>
    <div class="cont-gral">
        <div class="fila_principal">
            <div class="titulo">Tipos Novedades</div>
            <div class="menu_fila col3">
                <a class="material-symbols-outlined bt_nuevo" href="#" 
                    title="Nuevo">note_add</a>
                <a class="material-symbols-outlined bt_nuevo" href="#" id="btn_search"
                    title="Nuevo">search</a>    
                <a class="material-symbols-outlined bt_nuevo" href="/index.html"
                    title="Inicio">home</a>
            </div>
        </div>

        <div class="tabla">

            <div class="cabecera">
                <span class="col1">Código</span>
                <span class="col2">Descripión <span>
                
            </div>

            <div class="cuerpo" id="buscar">
                <div class="fila_buscar" id="fila_buscar" style="display: none;">
                    <input class="col1" type="text" placeholder="Buscar por código" id="novedadSearch">
                    <input class="col2" type="text" placeholder="Buscar por descripcion" id="nomSearch" >
                    <div class="col3"></div>
                </div>
                <% resultado.forEach((cliente)=>{ %>
                    <div class="fila_hover">
                        <label class="col1" name="novedad">
                            <%= cliente.IdTipoNovedad%>
                        </label>
                        <label class="col2" name="nombre">
                            <%= cliente.Nombre %>
                        </label> 
                        <div class="menu_fila col3">
                            <a class="material-symbols-outlined bt_azul"  
                            href="#" title="Editar">Edit</a>     
                        </div>
                    </div>    
                <% }); %>
    
            </div>

            <form class="cuerpo" id="editar" style="display: none;" >
                
                <!-- Primera fila -->
                <div class="fila">
                    <!-- Codigo de novedad -->
                    <div class="cont_vert">
                        <label for="">Código</label>
                        <input type="text" Id="IdTipoNovedad" name="IdTipoNovedad" value="">
                    </div>
                    <!-- Descripción -->
                     <div class="cont_vert">
                        <label for="">Nombre</label>
                        <input type="text" Id="Nombre" name="Nombre" value="">
                    </div>
                     <!-- Rango -->
                     <div class="cont_vert">
                        <label for="Rango">Corresponde Rango</label>
                        <input type="checkbox" Id="Rango" name="Rango" >
                    </div>
                     <!-- Motivo -->
                     <div class="cont_vert">
                        <label for="">Corresponde Motivo</label>
                        <input type="checkbox" Id="Motivo" name="Motivo">
                    </div> 
                </div>    

                <!-- Segunda fila -->
                <div class="fila">    
                     <!-- Limite Diario -->
                     <div class="cont_vert">
                        <label for="">Limite Diario</label>
                        <input type="number" Id="LimiteDiario" name="LimiteDiario">
                    </div>
                    <!-- Límite mensual -->
                    <div class="cont_vert">
                        <label for="">Límite Mensual</label>
                        <input type="number" Id="LimiteMensual" name="LimiteMensual">
                    </div>
                    <!-- Límite anual -->
                    <div class="cont_vert">
                        <label for="">Límite Anual</label>
                        <input type="number" Id="LimiteAnual" name="LimiteAnual">
                         
                    </div>
                   
                </div>

                <!-- Tercera fila -->
                <div class="fila">
                   
                    <!-- Descripción de la novedad-->
                    <div class="cont_vert">
                        <label for="">Descripción</label>
                        <textarea Id="Descripcion" name="Descripcion"></textarea>
                    </div>  
                    <!-- Cuando se usa -->
                    <div class="cont_vert">
                        <label for="">Utilizacion</label>
                        <textarea Id="Utilizacion" name="Utilizacion"></textarea>
                    </div> 
                    <!-- modo de uso -->
                     <div class="cont_vert">
                        <label for="">Modo de Uso</label>
                        <textarea Id="Uso" name="Uso"></textarea>
                    </div>
                </div>   
                
                <!-- Cuarta fila -->
                <div class="fila" style="justify-content: space-around;">
                   
                    
                </div>    
                    <div class="menu_form">
                        <button class="bt_verde">Aceptar</button>    
                        <a class="bt_rojo_nuevo" id="btn_borrar" href="/tiponovedad">Borrar</a>
                        <a class="bt_rojo" href="/tiponovedad">Cancelar</a>
                    </div>
                
                
                </form>    
        </div>

    </div>
</body>
<script src="/js/novedades.js"></script>

</html>