*{margin:0; padding: 0;}

/*Contenedor principal*/
.contenedor{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    
    
}

/*menu de arriba*/
.menu1{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 0.8% 0 0.8% 0;
    
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
      }

    a{
        text-decoration: none;
        color:white;
        font-size: 1em;
    }
    
}

/*menu principal_index*/
.menu2{
    height: 40vh;
    background-image: url("imagenes/B.jpg");
    background-position: bottom;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;    
    padding-top: 3vh;
    transition-property: background-size;
    transition-duration: 1s;
        
    .menu2_item{
        font-weight: bold;
        margin-right: 3%;    
        span{
            vertical-align: bottom;
            margin-left: -10px;
        }

        :hover{
            color:aqua;
        }
    }
    
    .menu2_sub_hombre{
        display: flex;
        flex-wrap: wrap;
        position:absolute;
        visibility: visible;
        margin-top: 1%;
        background-color:rgba(255, 255, 255,0.9); 
        padding: 3%;
    }    
    
    .menu2_list{
            flex-basis: 40%;
        }
        
        .menu2_banner{
            background: rgb(60, 60, 60);
            color: white;
            text-align: center;
            width: 100%;
            padding: 5%;

            p:firsttype{
                font-size: 2em;
            }
        }


        
    

    .menu_mujer{
        display: none;
    }
}

/*cuerpo principal*/
.cuerpo{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    border-top: 1px solid black;

    /*menu del cuerpo*/
    .m_cuerpo{
        display: flex;
    }

    .imagenes{
        display: flex;
        flex-wrap: wrap;
        img{
            scale: 50%;
        }
        .item_1{
            
            
            
        }

        .item_2{
            flex-basis: 10%;
            width: 20%;
        }
    }
}

.sub_menu{
    display: flex;
    justify-content: space-around;

    .menu_vertical{
        display: flex;
        flex-direction: column;
    }
}

