*{margin:0; padding: 0;}

/*Contenedor principal*/
.contenedor{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
    
    
}

/*menu de arriba*/
.menu1{
    display: flex;
    background-color: black;
    justify-content: space-around;
    padding: 0.8% 0 0.8% 0;
    
    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 20
      }

    a{
        text-decoration: none;
        color:white;
        font-size: 1em;
    }
    
}

/*menu principal_index*/
.menu2{
    height: 50vh;
    background-image: url("imagenes/B.jpg");
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;    
    padding-top: 1vh;
    transition-property: background-size;
    transition-duration: 0.5s;
        
    .menu2_item{
        font-weight: bold;
        margin-right: 3%;
        color: rgb(150,150,150);;    
        
        span{
            vertical-align: bottom;
            margin-left: -5px;
        }
        
    }

    .menu2_item:hover{
        color:aqua;
    }    

    .menu2_sub_hombre,.menu2_sub_mujer{
        display: flex;
        flex-wrap: wrap;
        position:absolute;
        visibility: collapse;
        margin-top: 1%;
        background-color:rgba(255, 255, 255,0.9); 
        padding: 2%;

        .material-symbols-outlined{
            margin-left: 20%;
        }
    }    
    
    .menu2_list{
            flex-basis: 35%;

            p{
                font-weight: normal;
                color: rgb(150,150,150);
                padding:10% 0 10% 0 ;
                font-size: 0.9em;
            }

            p:first-of-type{
                font-weight: bold;
            }

        }
        
        .menu2_banner{
            background: rgb(60, 60, 60);
            color: white;
            text-align: center;
            
            padding: 4%;

            p:first-of-type{
                font-size: 2.3em;
            }

            p{
                font-weight: normal;
                font-size: 1.1em;
            }
        }

    .menu2_submenu_visible{
        visibility: visible;
    }    
        
    

    
}

/*cuerpo principal*/
.cuerpo{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    border-top: 1px solid black;

    /*menu del cuerpo*/
    .m_cuerpo{
        display: flex;
    }

    .imagenes{
        display: flex;
        flex-wrap: wrap;
        img{
            scale: 50%;
        }
        .item_1{
            
            
            
        }

        .item_2{
            flex-basis: 10%;
            width: 20%;
        }
    }
}

.sub_menu{
    display: flex;
    justify-content: space-around;

    .menu_vertical{
        display: flex;
        flex-direction: column;
    }
}

