body{
    font-family: sans-serif;
}
.troncal{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}
.pachera{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px;
    height:auto;
}


.bja{
    display: flex;
    /* flex-direction: column; */
    /* border: 2px solid black;  */
    margin: 2px 2px 2px 2px;
    border-radius: 5px;
    /* padding: 5px; */
    font-weight: bolder;
    
   
}



.identificacion{
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 2px solid black; 
    border-radius: 5px;
    padding: 3px 0 3px 0;
    
}
.identificacion:hover{
    background-color: aquamarine;
}

.conectores{
    display: flex;
    width: 100%;
    /* height: 0px; */
    /* overflow: hidden; */
    
    
}
.conector{
    display: flex;
    flex-direction: column;
    margin: 0.1em;
    align-items: center;
    /* flex-grow: 2; */
    flex-basis: 50%;
    border: 1px solid black;
    width: calc(95%/24);
    /* scale: 90%; */
    height: 3rem;
    border-radius: 3px;
    
}
.conector:hover{
    scale: 130%;
    z-index: 10;
    /* background-color: aliceblue; */
    margin-right: 1px;
    
}
.numero{
    width: 100%;
    text-align: center;
    /* border-radius: 5px; */
    padding: 2px 0 2px 0;
    font-weight: bolder;
    font-size: small;
}
.descConec{
    font-weight: bolder;
    /* padding: 0.1em 0 0.1em 0; */
    font-size: small;
    /* writing-mode: tb-rl; */
    /* rotate: 180deg; */
    width: 100%;
    text-align: center;
    margin: 2px 0 0 0;
   
}






.azul{
    background-color: blue;
    color: white;
}

.naranja{
    background-color: orange;
    color: white;
}

.verde{
    background-color: green;
    color: white;
}
.marron{
    background-color: brown;
    color: white;
}

.gris{
    background-color: gray;
    color: white;
}

.blanco{
    background-color: white;
    color: black;
    /* border: 1px solid black; */
}

.rojo{
    background-color: red;
    color: white;
}

.negro{
    background-color: black;
    color: white;
}

.amarillo{
    background-color: yellow;
    color: black;
}

.violeta{
    background-color: violet;
    color: black;
}

.rosa{
    background-color: pink;
    color: black;
}

.celeste{
    background-color: skyblue;
    color: black;
}