.cont_horiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5rem;
}

.cont_vert{
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 0.5rem;
}

label{
    font-size: 0.8rem;
    font-weight: bolder;
    color: var(--col_borde);
}

input,select{
   color:rgb(90,90,90);
   border: 1px solid var(--col_borde);
   border-radius: var(--rad_borde_inp);
   border-style: outset;
   padding: 0.2rem;
   margin-top: 0.4rem;
}

input:focus-visible, select:focus-visible{
   outline: 1px solid var(--col_borde);
}

select{
    background-color: white;
}
