    
.c1{
    text-align: center;
    flex-basis: 20%;
    flex-grow: 2;
    padding-left: 0.3rem;
    border: none;
    background-color: transparent;
    margin-right: 0.4vh;
}

.c2{
    flex-basis: 70%;
    flex-grow: 2;
    border: none;
    background-color: transparent;
    padding-left: 0.3rem;
}

.c3{
    display: flex;
    flex-basis: 10%;
    flex-grow: 1;    
    justify-content: space-around;
}

/*.i1{
    overflow-x: hidden;
    background-color: red;
}*/

/*.borde_visible{
    color: rgb(75 ,75,255);
    border: 1px solid rgb(75 ,75,255);;
}*/
        
/*.c3>.borrar,.c3>.cancelar,.c3>.nuevo_cancelar{
    color: red;
    display: none;
    border: none;
    background: transparent;
}*/
        






